.app {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  text-decoration: none;
}


.game {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
